:root {
  --bg: #707444;
  --text: #111;
}
body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    "Helvetica Neue",
    Arial;
  line-height: 1.6;
  color: var(--text);
  background: var(--bg);
  margin: 0;
  padding: 0;
}
.hero {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: max(27vw, 24vh);
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.hero-text {
  position: absolute;
  top: 57%;
  left: 7%;
  cursor: pointer;
  color: #9dc6c6;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  font-size: min(7vw, 40px);
  text-decoration: none;
}
.container {
  max-width: 900px;
  margin: 36px auto;
  padding: 24px;
}
header {
  display: flex;
  gap: 20px;
  align-items: center;
}
h1 {
  margin: 0.1rem 0;
  font-size: 1.6rem;
}
@media (max-width: 560px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
}
