:root {
  --bg: #5a6236;
  --bg-secondary: rgb(46, 52, 18);
  --text: rgb(46, 52, 18);
  --text-highlight: #9dc6c6;
}
body {
  font-family:
    Lexend,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    "Helvetica Neue",
    Arial;
  line-height: 1.6;
  color: var(--text);
  background: var(--bg);
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.hero {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: max(27vw, 24vh);
  display: flex;
  justify-content: center;
  max-height: min(30vw, 30vh);
  min-height: 100px;
}
.hero-inner {
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: top center;
  height: max(27vw, 24vh);
  max-width: 1000px;
  max-height: min(30vw, 30vh);
  min-height: 100px;
}
.hero-image {
  width: 100%;
}
.hero-text {
  position: absolute;
  bottom: 12px;
  left: 24px;
  cursor: pointer;
  color: var(--text-highlight);
  text-shadow: 0 2px 5px rgba(46, 52, 18, 0.7);
  font-size: min(7vw, 55px);
  text-decoration: none;
}
.navbar {
  border-bottom: solid 6px var(--bg-secondary);
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 900px;
  display: flex;
}
.nav-menu a {
  display: block;
  padding: 12px 24px 12px 24px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}
.nav-menu a:hover {
  color: var(--text-highlight);
  background-color: var(--bg-secondary);
}
.container {
  max-width: 1000px;
  margin: 0px auto;
  background-color: #707444;
}
.content {
  padding: 24px;
}
.portrait-image {
  max-width: 300px;
  padding-left: 30px;
}
@media (max-width: 560px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
}
